* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}
body {
  background-color: antiquewhite;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1rem;
}
.front-page {
  height: 90vh;
}
.card-container {
  perspective: 1000px;
}

/* front page */
.info {
  position: absolute;
  right: 1rem;
  font-size: 2rem;
  top: 0;
  text-decoration: none;
}
.info a {
  text-decoration: none;
  color: black;
  font-size: 4rem;
  line-height: 0.1px;
}
.info-page p {
  margin: 1rem;
}
.info-page {
  margin: 1rem 1rem;
}
.copyright {
  font-size: 0.7rem;
}

/* .main {
  height: 80%;
} */
.link-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20%;
}
.link-btn {
  text-align: center;
  position: relative;
  display: block;
  background-color: rgb(248, 197, 103);
  padding: 0.6rem;
  margin: 0.6rem;
  border-radius: 50px;
  text-decoration: none;
  color: #000;
  border: 2px solid black;
  font-weight: bold;
  letter-spacing: 2px;
}
/* Home button */

.home {
  width: 30%;
  text-align: center;
  position: relative;
  display: inline-block;
  background-color: #f8c567;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 25px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  letter-spacing: 2px;
}
.home-lg {
  display: none;
}

/* Main container, front and back. */

.card {
  position: relative;
  padding: 1rem;
  border: 3px solid black;
  border-bottom: none;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background-color: #f8c567;
  margin: 1rem 1rem 0 1rem;
  height: 75vh;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.front {
  position: relative;
  height: 100%;
}
h1,
h2,
h3 {
  margin: 1rem;
  text-align: center;
}

.text {
  text-align: center;
}
.card p {
  margin: 2rem 1rem;
}
.ingredients {
  text-align: left;
}
label {
  margin: 1rem;
}
input {
  width: 60px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 15px;
}
button {
  border: 2px solid black;
  background-color: antiquewhite;
  border-radius: 5px;
  padding: 0 0.5rem;
  font-size: 15px;
}

.image-front {
  position: absolute;
  padding: 0 2rem;
  bottom: 2%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* ------Back-------- */
.italics {
  font-size: 13px;
  font-style: italic;
  margin: 0;
  font-weight: 400;
  text-align: center;
}
.back {
  transform: rotateY(180deg);
}

li {
  margin: 10px 40px;
  font-size: 14px;
}

/* flip button at the bottom */

.bottom {
  background-color: #ecb235;
  margin: 0 1rem;
  height: 10vh;
  border: 3px solid black;
  border-top: none;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  justify-content: center;
  text-align: center;
}

#flip-card {
  background-color: #f0a33e;
  border: none;
  letter-spacing: 2px;
  justify-self: center;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

/* Card Flipping */
.card {
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.front,
.back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.back {
  position: absolute;
  top: 0;
  right: 0;
}
.card.flipped {
  transform: rotateY(180deg);
}

#flip-button {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #ebc57f;
  border-end-end-radius: 20px;
  border-bottom-left-radius: 20px;
}

@media screen and (min-width: 821px) {
  .main-container {
    position: relative;
    height: 85vh;
    min-height: 600px;
    width: 50%;
    max-width: 500px;
    margin: 2rem auto;
    padding: 0.4rem;
    border: 3px solid #000;
    border-radius: 2rem;
    background-color: #ecb235;
  }
  .info {
    position: absolute;
    display: block;
    margin-right: 10px;
  }
  .container {
    height: 80vh;
    width: 50%;
    max-width: 500px;
    margin: 2rem auto;
  }
  .card {
    min-height: 600px;
    margin: 0;
  }
  .bottom {
    display: block;
    margin: 0;
  }
  .card-container {
    margin: auto;
  }
  .home {
    display: none;
  }
  .home-lg {
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border: 2px solid #000;
    background-color: #ebc57f;
    border-radius: 25px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .info-container {
    border: 3px solid #000;
    border-radius: 2rem;
    height: 80vh;
    min-height: 600px;
    padding: 1rem;
    background-color: #f8c567;
  }
  .info-page {
    margin-top: 20vh;
  }
}
